@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
body{
    background-color:#665d88;
}

/* 메인 시작 */
.miso_main{
    background-image:url('../../images/twenty/twenty_miso/main.png');
    background-position: left center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.miso_main img{
    width:40rem;
}
/* 메인 끝 */

/* 메인 반응형 시작 */
@media screen and (max-width:599px){
    .miso_main img{
        width:30rem;
    }
}
@media screen and (max-width:375px){
    .miso_main img{
        width:20rem;
    }
}
/* 메인 반응형 끝 */

/* miso_con 공통 시작 */
.miso_con{
    color:#fff;
    font-weight:300;
}

.miso_con section{
    width:100%;
    height:auto;
    overflow:hidden;
    margin-bottom:10rem;
}
.miso_con section .image_wrap{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.miso_con section .banner{
    width:100%;
    height:50rem;
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:4rem;
}
.miso_con section .banner h1{
    font-family: 'Song Myung', serif;
    color:#e4cf9a;
    font-size:2.8rem;
}
/* miso_con 공통 끝*/

/* miso_con 공통 반응형 시작 */
@media screen and (max-width:1023px){
    .miso_con section .banner{
        height:40rem;
    }
}
@media screen and (max-width:767px){
    .miso_con section .banner{
        height:30rem;
        margin-bottom:2rem;
    }
}
@media screen and (max-width:599px){
    .miso_con section .banner{
        height:25rem;
    }
}
/* miso_con 공통 반응형 끝 */

/* section01 시작 */
.miso_con .section01 .banner{
    background-image:url('../../images/twenty/twenty_miso/banner_01.jpg');
}

.miso_con .section01 .text_1 p{
    border-left:1px solid #e4cf9a;
    padding: 1.5rem 0 1.5rem 3rem;
    /* padding-bottom:20rem; */
    width:100%;
    max-width:767px;
    box-sizing: border-box;
}
/* section01 끝 */

/* section02 시작 */
.miso_con .section02 .banner{
    background-image:url('../../images/twenty/twenty_miso/banner_02.png');
}
.miso_con .section02 .image_wrap{
    width:57rem;
    height:38rem;
    margin-bottom:10px;
}
.miso_con .section02 .text{
    min-height:40rem;
}
.miso_con .section02 .text+.text{
    margin-top:4rem;
}
.miso_con .section02 .text_1 .image_wrap,
.miso_con .section02 .text_3 .image_wrap{
    float:left;
    margin-right:5%;
}

.miso_con .section02 .text_1 .image_wrap{
    background-image:url('../../images/twenty/twenty_miso/img_02_001.png');
}
.miso_con .section02 .text_2 .image_wrap{
    background-image:url('../../images/twenty/twenty_miso/img_02_002.png');
    float:right;
    margin-left:5%;
}
.miso_con .section02 .text_3 .image_wrap{
    background-image:url('../../images/twenty/twenty_miso/img_02_003.png');
}
/* section02 끝 */

/* section02 반응형 시작 */
@media screen and (max-width:1023px){
    .miso_con .section02 .image_wrap{
        width:48rem;
        height:32rem;
    }
}
@media screen and (max-width:767px){
    .miso_con .section02 .image_wrap{
        width:39rem;
        height:26rem;
    }
}
@media screen and (max-width:599px){
    .miso_con .section02 .image_wrap{
        width:60%;
        height:0;
        padding-bottom:40%;
        margin-bottom:2rem;
    }
    .miso_con .section02 .text_1 .image_wrap,
    .miso_con .section02 .text_3 .image_wrap{
        float:none;
        margin-right:0;
    }
    .miso_con .section02 .text_2 .image_wrap{
        float:none;
        margin-left:40%;
    }
    .miso_con .section02 p{
        border-left:1px solid #e4cf9a;
        padding: 1.5rem 0 1.5rem 3rem;
        width:100%;
        box-sizing: border-box;
    }
}
/* section02 반응형 끝 */

/* section03 시작 */
.miso_con .section03 .banner{
    background-image:url('../../images/twenty/twenty_miso/banner_03.png');
}

.miso_con .section03 .text_1 p{
    border-left:1px solid #e4cf9a;
    padding: 1.5rem 0 1.5rem 3rem;
    width:100%;
    max-width:767px;
    box-sizing: border-box;
}
/* section03 끝 */